[user]
	email = kaarel.ratas@gmail.com
	name = Kaarel Ratas
[push]
	default = simple
[core]
	excludesfile = /home/kaarel/.gitignore_global
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	rebase = false
